<ion-view title="About" id="aboutScreen" class=" ">
    <ion-content padding="false" class="has-header">
    	<div class="list card padding">
    		<h3 style="text-align: center;">Centre for Polar Observation and Measurement</h3>
    		<h5 style="text-align: center;">The Centre for Polar Observation and Measurement is a project comissioned by the European Space Agency that looks at the sea ice extent and volume in the Arctic and Antarctic.</h5>
    	</div>
    	<div class="list card padding" style="margin-top:none !important">
    		<h3 style="text-align:center">External Links and Contact</h3>
    		<div align="center">
    			<a class="button" style="border-color: #00367d; color: #00367d; margin:4px; width: 175px;" ng-click="leedsSite()">CPOM Leeds Site</a>
    			<a class="button custom-button" style="border-color: #00367d; color: #00367d; margin: 4px; width: 175px" ng-click="uclSite()">CPOM UCL Site</a>
    		</div>
    		<h3 style="text-align:center">Contact Us:</h3>
    		<h4 style="text-align:center; font-weight:bold">Project Leads</h4>
    		<h5 style="text-align:center;">Andrew Shepherd: a.shepherd@leeds.ac.uk</h5>
    		<h5 style="text-align:center;">Anna Hogg: a.e.hogg@leeds.ac.uk</h5>
    		<h4 style="text-align:center; font-weight:bold">Developers</h4>
    		<h5 style="text-align:center;">Sam Spillard: py14sts@leeds.ac.uk</h5>
    		<h5 style="text-align:center;">James Bucag: py14jb@leeds.ac.uk</h5>
    	</div>
    	<div class="list card padding" style="margin-top:none !important">
    		<h3 style="text-align:center">About</h3>
    		<h5 style="text-align:center">Sam Spillard & James Bucag</h5>
    		<h5 style="text-align:center">School of Earth and Environment</h5>
    		<h5 style="text-align:center">University of Leeds</h5>
    	</div>
    	<div class="list padding" id="partner-list">
    		<div class="item item-body" align="center">
    			<img src="img/baslogo200.gif">
    		</div>
    		<div class="item item-body" align="center">
    			<img src="img/noclogo200.png">
    		</div>
    		<div class="item item-body" align="center">
    			<img src="img/nceologo200.gif">
    		</div>
    		<div class="item item-body" align="center">
    			<img src="img/nerc-long-logo-200.png">
    		</div>
    		<div class="item item-body" align="center">
    			<img src="img/img_colorlogo_darkblue-300x131.gif">
    		</div>
    		<div class="item item-body" align="center">
    			<img src="img/ionic.png">
    		</div>
    	</div>
    </ion-content>
</ion-view>