<style>

    @font-face {
        font-family: 'notesesaregular';
        src: url('../www/fonts/notesesareg-webfont.ttf') format('truetype');
        font-weight: normal;
        font-style: normal;

    }

    body, p, h1, h2, h3, h4, h5, h6 {
        font-family: notesesaregular !important;
    }

    .shady {
        color: lighten(darkgrey, -30%) !important;
    }
    .shady i {
        color: darkgray !important;
    }
    
.legend {
    font-size: 14px;
    fill: #00338d;
}

.title {
    font-family: sans-serif;
    font-size: 14px;
}
    
.frame {
  fill: none;
  stroke: #000;
}
    
.arc {
  fill: none;
  stroke: #00338d;
  stroke-width: 1.5px;
  stroke-linecap: round;
}    
    
.axis path,
.axis line {
    fill: none;
    stroke: #00338d;
    shape-rendering: crispEdges;
}

.axis text {
    font-family: sans-serif;
    fill: #00338d;
    font-size: 15px;
}
    
.radials {
    fill: none;
    stroke: #4a4a4a;
    stroke-dasharray: 1,4; 
}
    
.axis circle {
  fill: none;
  stroke: #777;
  stroke-dasharray: 1,4;
}
    
.axis :last-of-type circle {
  stroke: #333;
  stroke-dasharray: none;
}

.graticule {
  fill: none;
  stroke: #333333;
  stroke-width: .5px;
  stroke-opacity: .01;
}
.dot {
    stroke: rgba(0, 55, 109, 0);
    fill: rgba(0, 55, 109, 0);
}

.quad{

}

.land {
  fill: #939393;
}

.boundary {
  fill: none;
  stroke: #fff;
  stroke-width: .5px;
}

#map {
	width: 100%;
	height: 100%;
}

.outer {
    width: 100%;
    height: 100%;
    margin-top: 5px;
}

.custom-range {
    float: left;
    width: 80%;
}

.upper-right {
    float: right;
    width: 20%;
    height: 40vh;
}

input[type=range]::-webkit-slider-thumb {
    background: #00338d;
}

.walk {
    font-family: monaco;
    font-size: 14px;
}

</style>

<ion-view title="Antarctica" id="iceAntarctic" class=" ">
    <ion-content padding="false" class="has-header" scroll="false">
        <div id="chart-container" class="outer">
            <div class="custom-range">
                <ion-scroll style="height:40vh;width:40vh;margin:0 auto" id="antarctic-ice-div" zooming="true" direction="xy" min-zoom="1" locking="false" scrollbar-x="false" scrollbar-y="false">
                    <svg id="antarctic-ice-vis" width="100%" height="100%"></svg>
                </ion-scroll>
            </div>
            <div class="upper-right" ng-click="iceInfo()">
                <img id="cbImg" src="img/ice_cbs/201604_thk_cb.png" height="100%">
            </div>
            <div class="range" style="height: 20px;display:full">
                <input style="" type="range" name="seaIce" value="{{rangeConfig.value}}" min="{{rangeConfig.min}}" max="{{rangeConfig.max}}" ng-model="rangeValue" ng-change="selectedSeaIce(rangeValue)">
                <!--<p style="font-family: monaco">{{value}}</p>-->
            </div>
            <div id="valueText" style="height: 15px; text-align:center">
                <p style="font-family:monaco; color: #00338d; font-size:14px;">Sea Ice: {{value}}</p>
            </div>
            <div class="">
                <div style="height:50vh;" id="antarctic-historic-chart">
                    <svg id="chart" width="100%" height="100%"></svg>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>