<style>
    .tile{
        width: 100%;
        height: 100%;
        background-color: #00376d;
    }
    .tile-row {
        height: 50%;
    }
</style>
<ion-view title="CryoApp" id="homeScreen">
    
    <ion-pane padding="false" style="padding-top:44px" class"has-header background">
        
        <div style="height:50%; margin-top:50%">
        
            <div class="row tile-row">

                <div class="col-50 tile" ng-click="trackScreen()">
                    <div class="item item-divider">
                        <h3 style="text-align:center; font-sixe:18px">Track Your Route!</h3>
                    </div>
                    <div class="item item-image">
                        <img src="img/home_track.png"/>
                    </div>
                </div>

                <div class="col-50 tile">
                    <div class="item item-divider" ng-click="iceScreen()">
                        <h3 style="text-align:center; font-size:18px">
                            View Sea Ice Conditions!
                        </h3>
                    </div>
                    <div class="item item-image">
                        <img src="img/home_ice.png"/>
                    </div>
                </div>

            </div>
            <div class="row tile-row">

                <div class="tile">
                    <div class="item item-divider">
                        <h3 style="text-align: center; font-size: 18px">
                            Find Out More!
                        </h3>
                    </div>
                    <div class="item item-image">
                        <img src="img/home_logo.png">
                    </div>
                </div>

                <div class="tile">

                </div>

            </div>
            
        </div>
    
    </ion-pane>

</ion-view>