<style>
    .crop {
        width: 100%;
        overflow: hidden;
    }
</style>
<ion-view title="Home" id="homeScreen">
    <ion-content padding="false" class="has-header">
        <ion-slide-box width="100%" height="250px" show-pager="false" does-continue="true" auto-play="true" slide-interval="4500">
            <ion-slide>
                <img src="img/header_anna_ice_berg.JPG" width="100%" height="250px%"/>
            </ion-slide>
            <ion-slide>
                <img src="img/header_anna_ice_berg4.JPG" width="100%" height="250px%"/>
            </ion-slide>
            <ion-slide>
                <img src="img/header_sea_ice_terrain.jpg" width="100%" height="250px%"/>
            </ion-slide>
            <ion-slide>
                <img src="img/header_anna_ice_berg2.JPG" width="100%" height="250px%"/>
            </ion-slide>
            <ion-slide>
                <img src="img/header_anna_ice_berg3.JPG" width="100%" height="250px%"/>
            </ion-slide>
            <ion-slide>
                <img src="img/header_anna_work.JPG" width="100%" height="250px%"/>
            </ion-slide>
        </ion-slide-box>
        <div class="card" id="home-card24">
            <div class="item item-divider item-text-wrap"><h2 id="home-heading2" style="color:#000000; text-align: center;font-size:24px">Centre for Polar Observation and Measurement</h2></div>
            <div class="item item-text-wrap"><h5 id="home-markdown2" style="color:#000000; text-align: center; font-size:16px" class="padding">The Centre for Polar Observation and Modelling (CPOM) is a NERC Centre of Excellence that studies processes in the Earth’s polar latitudes that can affect the Earth’s radiation reflectance, polar atmosphere and ocean circulation, and global sea level.</h5></div>
        </div>
        <div class="card" id="home-card-4">
        	<div class="item item-divider"><h4 style="text-align:left;font-size:18px">Introducing Cryosat</h4></div>
        	<div class="item item-text-wrap">
        	<h5 style="font-size:16px">
        	Diminishing ice cover is frequently cited as an early casualty of global warming. Since ice, in turn, plays an important role in regulating climate and sea level, the consequences of climate change are far reaching. It is therefore important to understand exactly how Earth’s ice fields are responding to these changes – and by how much. <br>
			CryoSat is Europe’s first mission to address this.<br>
			CryoSat was the first Earth Explorer mission to be selected in 1999, but the original satellite was lost due to a launch failure in October 2005. A new satellite – sometimes referred to as CryoSat-2 – was subsequently built with a number of improvements and was launched on 8 April 2010.
			</h5>
			</div>
        </div>
        <div>

        <div class="card">
        	<div class="item item-image">
        		<img src="img/Antarctic-ice-loss-CPOM-ESA.jpg">
        		<div class="item item-divider item-text-wrap"><h4 style="text-align:center;font-size:12px">Three years of satellite measurements showing that the Antarctic was, as of 2014, losing 159 billion tonnes of ice each year. Credit:CPOM/ESA</h4></div>
        		</div>
        </div>

        <div class="list card" id="home-card-3">
        
        	<div class="item item-divider"><h4 style="text-align:left;font-size:18px">About the Satellite</h4></div>
        	<div class="item item-text-wrap">
        	<h5 id="home-text-3" style="font-size:16px">The satellite itself was comissioned by the European Space Agency and made in Germany by Astrium GmbH (now Airbus Defence and Space). It is equipped with state-or-the-art remote sensing technology, comprising of a Dual-Polarised Synthetic Aperture Radar Inteferometer, Radar based Altimiter, {{etc}} It has an orbital period of approximately 92 minutes, and a precession period of 28 days, meaning it completes a full updated scan of both the Arctic and Antarctic every 28 days, whilst sending back intermediate data every 2 days. </h5></div>
        	<div class="item item-image">
        		<img src="img/CryoSat-2_node_full_image_2.jpg" ng-click="cryosatSite()">
        		<div class="item item-divider"><h4 style="text-align:center;font-size:14px" ng-click="cryosatSite()">Click to find out more!</h4></div>
        	</div>
        </div>

        </div>
        <div class="card" id="home-card-2" style="margin-top:-20px">
        	<div class="item item-divider"><h4 style="text-align:left;font-size:18px">About the Research</h4></div>
        	<div class="item item-text-wrap"><h5 id="home-text-2" style="font-size:16px">CPOM uses theoretical and laboratory-derived information to form new models of interactions between the ice, ocean and atmosphere, and uses ground and satellite observations to test these and other climate models.<br><br>
			The CPOM Directorate is based at the University of Leeds, and we have researchers at the Universities of Bristol and Reading and at University College London.  CPOM is funded by the Natural Environment Research Council (NERC).  We also work closely with the British Antarctic Survey (BAS), National Oceanography Centre (NOC), National Centre for Earth Observation (NCEO) and European Space Agency (ESA).<br><br>
			Since the successful launch of the second mission, CryoSat-2 has been collecting data uninterrupted. This data is fed back periodically every 2 days to the central processing centre at University College London, which in turn processes the data and distibutes it on the CPOM website (Linked in the 'About' section).</h5>
			</div>
			<div>
				<img class="full-image" src="img/Steph-BAS.jpg" ng-click="blogSite()">
				<div class="item item-divider item-text-wrap"><h4 style="text-align: center; font-size:14px" ng-click="blogSite()">Click above to read about the latest goings on with the CPOM group and their research!</h4></div>
			</div>
        </div>

    </ion-content>
</ion-view>


