<style>

    @font-face {
        font-family: 'notesesaregular';
        src: url('../www/fonts/notesesareg-webfont.ttf') format('truetype');
        font-weight: normal;
        font-style: normal;

    }

    .tile{
        width: 100%;
        height: 100%;
        background-color: #00338d;
    }
    .crop {
        height: 60%;
        overflow: hidden;
    }
    .tile-row {
        height: 50%;
    }
    .background {
        background: url('img/berg_bg.JPG') no-repeat center;
/*        background: #6dbdc3;*/
        background-size: cover;
    }
    .home-button {
        height: 25%;
        width: 100%;
        margin-top: 7.5px;
        margin-bottom: 7.5px;
        font-size: 20px;
        font-family: notesesaregular !important;
    }
    .lower-div {
        height: 40%;
        width: 100%;
        margin-top: -5px;
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 5px;
        background: rgba(0, 51, 141, 0.2);
    }
</style>
<ion-view title="Home" id="homeScreen">
    <ion-content padding="false" class"has-header background" scrollbar-y="false">
        <!--<img class="crop" src="img/berg_bg_4.jpg"/>-->
        <img class="crop" src="img/IMG_5889.JPG"/>
        <div class="lower-div">
            <button class="button item-icon-left home-button" ng-click="iceScreen()">
                <i class="icon ion-earth"></i>
                View Arctic Sea Ice Data
            </button>

            <!--<button class="button item-icon-left home-button" ng-click="antarcticScreen()">
                <i class="icon ion-earth"></i>
                View Antarctic Sea Ice Data
            </button>-->

            <button class="button item-icon-left home-button" ng-click="trackScreen()">
                <i class="icon ion-android-boat"></i>
                Track Your Route
            </button>

            <!--<button class="button item-icon-left home-button" ng-click="downloadScreen()">
                <i class="icon ion-ios-cloud-download"></i>
                Download Latest Data
            </button>-->

            <button class="button item-icon-left home-button" ng-click="aboutScreen()">
                <i class="icon ion-information-circled"></i>
                Find Out More
            </button>
        </div>
    </ion-content>
</ion-view>