<style>
    .crop {
        width: 100%;
        overflow: hidden;
    }
    .background {
        background: url('img/berg_bg.JPG') no-repeat center;
/*        background: #6dbdc3;*/
        background-size: cover;
    }
    .home-button {
        background-color: #00376d;
        height: 25%;
        width: 100%;
    }
    .home-card {
        height: 25%;
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 7.5px;
        padding-top: 7.5px;
    }
    .home-card .inner {
        border-radius: 10px;
    }
</style>
<ion-view title="CryoApp" id="homeScreen">
    <ion-content padding="false" class="has-header background">
        
        <div id="container" style="height:100%; width:100%">
            <div id="card1" class="home-card">
                <div class="inner" style="height:100%; width:100%; background-color:#00376d">
                    <div class="item-divider" style="border-radius:10px; height:22px">
                        <h3 style="text-align: center; font-size: 18px">
                            Track Your Route!
                        </h3>
                    </div>
                </div>
            </div>
            <div id="card2" class="home-card">
                <div class="inner" style="height:100%; width:100%; background-color:#00376d">
                    <div class="item-divider" style="border-radius: 10px; height: 22px">
                        <h3 style="text-align: center; font-size: 18px">
                            View Sea Ice Conditions!
                        </h3>
                    </div>
                </div>
            </div>
            <div id="card3" class="home-card">
                <div class="inner" style="height:100%; width:100%; background-color:#00376d">
                    <div class="item-divider" style="border-radius: 10px">
                        <h3 style="text-align: center; font-size: 18px">
                            Download Data!
                        </h3>
                    </div>
                </div>
            </div>
            <div id="card4" class="home-card">
                <div class="inner" style="height:100%; width:100%; background-color:#00376d">
                    <div class="item-divider" style="border-radius: 10px">
                        <h3 style="text-align: center; font-size: 18px">
                            Find Out More!
                        </h3>
                    </div>
                </div>
            </div>
        </div>

<!--
            <div class="list card home-button" ng-click="trackScreen()">
                <div class="item item-divider">
                    <h3 style="text-align:center; font-size:18px">Track Your Route!</h3>
                </div>
                <div class="item-image">
                    <img src="img/home_track.png"/>
                </div>
            </div>

            <div class="list card" ng-click="iceScreen()">
                <div class="item item-divider">
                    <h3 style="text-align:center; font-size:18px">View Sea Ice Conditions!</h3>
                </div>
                <div class="item item-image">
                    <img src="img/home_ice.png"/>
                </div>
                
            </div>
        
            <div class="list card" ng-click="aboutScreen()">
                <div class="item item-divider">
                    <h3 style="text-align:center; font-size:18px">Find Out More!</h3>
                </div>
                <div class="item item-image">
                    <img src="img/home_logo.png"/>
                </div>
            </div>

            <div class="list card" ng-click="downloadScreen()">
                <div class="item item-divider">
                    <h3 style="text-align:center; font-size:18px">Download Data!</h3>
                </div>
                <div class="item item-image">
                    <img src="img/home_logo.png"/>
                </div>
            </div>
-->
    </ion-content>
</ion-view>


