<style type="text/css">
    .image-list-thumb {
        padding: 2px 2px 2px 2px;
        height: 50px;
    }

    .my-colour {
        background: #00376e !important;
        color: floralwhite !important;
    }
</style>

<ion-side-menus enable-menu-with-back-views="false">
    <ion-side-menu-content>
        <ion-nav-bar class="my-colour">
            <ion-nav-back-button class="my-colour"></ion-nav-back-button>
            <ion-nav-buttons side="left">
                <button class="button button-icon my-colour ion-navicon" menu-toggle="left"></button>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view name="side-menu21"></ion-nav-view>
    </ion-side-menu-content>
    <ion-side-menu side="left" id="side-menu21">
        <ion-header-bar class="header-bar" style="background: #00376e">
            <div class="title item-text-center" style="color: #fff; text-align: center">Menu</div>
        </ion-header-bar>
        <ion-content padding="false" class="side-menu-left has-header">
            <div class="">
                <a style="display: full;" ui-sref="menu.home" menu-close="">
                    <img src="img/cryosat_logo.PNG" width="100%" height="" style="display: full; margin: 0;">
                </a>
            </div>
            <ion-list id="menu-list1" class=" ">
                <ion-item class="item-icon-left positive  " id="menu-list-home" ui-sref="menu.home" menu-close="" style="color: #00376e">
                    <i class="icon ion-home"></i>Home</ion-item>
                <ion-item class="item-icon-left positive" id="menu-item-ice" ui-sref="menu.seaIce" menu-close="" style="color: #00376d">
                    <i class="icon ion-earth"></i>Sea Ice</ion-item>               
                <ion-item class="item-icon-left positive" id="menu-item-track" ui-sref="menu.routeTrack" menu-close="" style="color: #00367d">
                    <i class="icon ion-compass"></i>Route Tracking</ion-item>

                <ion-item class="item-divider" style="color:#808080">More</ion-item>
                
                <ion-item class="item" id="menu-item-about" ui-sref="menu.about" menu-close="" style="color: #00376d; font-size: 15px">About</ion-item>
                
                <ion-item class="item-divider" style="color: #808080">Partners</ion-item>
                
                <div class="padding" id="partner-list">
                    <div class="item" style="padding: 5px" align="center">
                        <img src="img/baslogo200.gif" class="image-list-thumb">
                    </div>
                    <div class="item" style="padding: 5px" align="center">
                        <img src="img/noclogo200.png" class="image-list-thumb">
                    </div>
                    <div class="item" style="padding: 5px" align="center">
                        <img src="img/nceologo200.gif" class="image-list-thumb">
                    </div>
                    <div class="item" style="padding: 5px" align="center">
                        <img src="img/nerc-long-logo-200.png" class="image-list-thumb">
                    </div>
                    <div class="item" style="padding: 5px" align="center">
                        <img src="img/img_colorlogo_darkblue-300x131.gif" class="image-list-thumb">
                    </div>
                    <div class="item" style="padding: 5px" align="center">
                        <img class="image-list-thumb" src="img/ionic.png">
                    </div>
                </div>
            </ion-list>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>
