<style>
    .shady {
        color: lighten(darkgrey, -30%) !important;
    }
    .shady i {
        color: darkgray !important;
    }
    
</style>
<ion-view title="Sea Ice Thickness" id="iceScreen" class=" ">
    <ion-content padding="false" class="has-header">
        <ion-list>
            <ion-item class="item-icon-left shady item-text-wrap" ui-sref="menu.maps">
    		    <i class="icon ion-ios-location-outline"></i>
    		    Example Track: Scientific Cruise around the Siberian Shelf - 2014
    		</ion-item>
        </ion-list>
    </ion-content>
</ion-view>